# liquibase
quarkus.liquibase.migrate-at-start=true
quarkus.liquibase.change-log=liquibase/changelog.xml

# database
quarkus.datasource.db-kind=mariadb
quarkus.datasource.jdbc.url=jdbc:mariadb://localhost:3306/jooq_testshop?useCursorFetch=true&rewriteBatchedStatements=true
quarkus.datasource.username=root
quarkus.datasource.password=

# cognito-local
cognitolocal.userpoolid=local_2BTnkyFR
cognitolocal.userpoolclientid=4t27ouhrqot51go48sy48wyoi
cognitolocal.userpoolclientsecret=1nm4mf2fy62lgt5o5iy4j4wsc

# quarkus oidc
quarkus.oidc.auth-server-url=http://localhost:9229/local_2BTnkyFR
quarkus.oidc.discovery-enabled=false
quarkus.oidc.jwks-path=http://localhost:9229/local_2BTnkyFR/.well-known/jwks.json

# logging
quarkus.log.category."org.acme".level=DEBUG
quarkus.log.category."org.jooq.tools.LoggerListener".level=DEBUG